*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    text-align: center;
}

.title{
    padding: 1rem;
    color: palevioletred;
}

.lorem{
    padding: 1rem;
}

img{
    width: 100px;
    float: left;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.card::after{
    content: '';
    display: block;
    clear: both;
}

.row{
    margin: 0 -1rem;
}

.column{
    width: calc(100% / 3);
    padding: 1rem;
    float: left;
}

.card{
    color: white;
    background-color: black;
}
